.html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: absolute;
  height: 800px;
  border-radius: 20px;
  width: 70%;
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media screen and (min-height: 700px) {
  .app__videos {
    height: 600px;
  }  
}

@media screen and (min-height: 800px) {
  .app__videos {
    height: 700px;
  }
}

@media screen and (min-height: 850px) {
  .app__videos {
    height: 800px;
  }
}